*,*::before, *::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    text-decoration: none;
    color: #000;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

:root{
    --bgColor:rgb(220, 219, 219);
    --interFaceColor:#fff;
    --displayColor: rgb(246, 245, 245);
    --buttonPnlBgColor:rgb(83, 123, 245);
    --bookListBgColor:rgb(216, 241, 255);
    --bRadius:1em;
}



body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bgColor);
    overflow: hidden;
}

.flexB{
    display: flex;
}

img{
    max-width: 100%;
}

.p2-1{
    padding: 2em 1em;
}

.row + .row{
    margin-top: 2rem;
}

.bookInterface{
    position: relative;
    background-color: var(--interFaceColor);
    border-radius: var(--bRadius);
    width: min(80%, 350px);
    /* aspect-ratio: 2; */
    
}

.logo-and-Search{
    justify-content: space-between;
}

.logo-and-Search #searchBook{
    background-image: url("images/search.svg");
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center right;
    width: 15%;
    border-radius: var(--bRadius);
    border: none;
}

.logoHeading{
    font-family: 'Sigmar One', cursive;
}

.display{
    background-color:var(--displayColor);
    aspect-ratio: 16/9;
    transform: translateX(1rem);
    border-top-left-radius: var(--bRadius);
    border-bottom-left-radius: var(--bRadius)
}

ul.bookList{
    background-color:var(--bookListBgColor);
    height: 11rem;
    border-radius: var(--bRadius);
    overflow-y: scroll;

}

.book{
    justify-content: space-between;
    background-color: var(--interFaceColor);
    margin-right: .5rem;
    min-height: 3.5rem;
    border-top-right-radius: var(--bRadius);
    border-bottom-right-radius: var(--bRadius);
}

.book + .book{
    margin-top: 1rem;
}

.book .bookInfo{
    width: 70%;
}

/*Delete Button in BookList*/
.deleteBook{
    background-image: url("images/Trash.svg");
}


/*Read Button in BookList*/
.readBtn{
    text-align: center;
    background-color: rgb(255, 75, 47);
    color: #fff;
    border-radius: var(--bRadius);
    padding: .5em;
    border: none;
    transition: 300ms;
    cursor: pointer;
}


.readBtn.read{
    background-color: rgb(87, 221, 87);
}

.deleteBook,
.tickToggle{
    display: inline-block;
    width: 1.5rem;
    min-height: 1.5rem;
    background-repeat: no-repeat;
    background-position: center;

}








.addBookModal{
    position: absolute;
    inset: 0 0 auto 0;
    background-color: var(--displayColor);
    border-radius: var(--bRadius);
    min-height: 50%;
    z-index: 2;
}

.closeBtn{
    position: absolute;
    inset: 0 0 auto auto;
}

.formInputs{
    flex-direction: column;
}


.addBookModal input{
    margin-bottom: 1rem;
    
}

.transparentCover{
    position: absolute;
    inset: 0;
    background-color: #000;
    opacity:30%;
    z-index: 1;
    border-radius: var(--bRadius);
}

.addBookModal,
.transparentCover{
    opacity: 0;
    pointer-events: none;
}

.addBookModal.active{
    opacity: 1;
    pointer-events: auto;
}

.transparentCover.active{
    opacity: 40%;
    pointer-events: auto;
}




.mainButtonPanel{
    position: absolute;
    inset: auto 0 -3.5rem 0;
    border-radius: var(--bRadius);
    aspect-ratio: 4;
    justify-content: space-around;
    align-items: center;
    background-color: var(--buttonPnlBgColor);
    z-index: 2;
}


.mainButtonPanel .btnImg {
    width:1.8rem;
}

